.newItemBody{
    max-width: 1600px;
    margin: 0px auto;
    margin-bottom: 40px;
}
.newItemWrapper{
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.newItemTitle{
    font-weight: 700;
    color: rgb(255, 102, 0);
    font-size: 32px;
    margin-top: 0px;
    margin: 0px 0px 20px;
}

.newItemRow{
    margin: 0px 0px 20px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-size: 24px;
    text-decoration: none;
}

.newItemRow:last-child{
    margin: 0;
}

.newItemContainerLoad{
    display: flex;
    align-items: center;
    justify-content: center;
}

.newItemIcon{
    max-width: 30px;
    margin-right: 10px;
}

.newItemComments{
    margin-top: 30px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(0, 0, 0);
}

@media screen and (max-width:1650px) {
    .newItemBody{
        max-width: 1300px;
    }
}

@media screen and (max-width:1350px) {
    .newItemBody{
        max-width: 1000px;
    }
}

@media screen and (max-width:1050px) {
    .newItemBody{
        max-width: 80%;
    }
    .newItemTitle{
        font-size: 24px;
    }
}

@media screen and (max-width:650px) {
    .newItemBody{
        max-width: 90%;
    }
    .newItemRow{
        margin: 0px 0px 15px;
        font-size: 18px;
    }
}